cached-property==1.5.1
certifi==2019.11.28
chardet==3.0.4
cityair-api==0.2.42
idna==2.8
numpy==1.17.4
pandas==0.25.3
progressbar2==3.47.0
python-dateutil==2.8.1
python-utils==2.3.0
pytz==2019.3
requests==2.22.0
six==1.13.0
urllib3==1.26.5
